* text=auto
*.lua text eol=crlf
*.lub text eol=crlf
*.txt text eol=crlf
*.png binary
*.jpg binary
*.bmp binary
*.spr binary
*.act binary
*.wav binary
Translation/Pre-Renewal/data/questid2display.txt -text
Translation/Renewal/data/questid2display.txt -text
Translation/Pre-Renewal/SystemEN/OngoingQuests.lub -text
Translation/Renewal/SystemEN/OngoingQuests.lub -text
