* text=auto
*.lua text eol=crlf
*.lub text eol=crlf
*.txt text eol=crlf
*.png binary
*.jpg binary
*.bmp binary
*.spr binary
*.act binary
*.wav binary
Translation/Pre-Renewal/data/questid2display.txt -text
Translation/Renewal/data/questid2display.txt -text
Translation/Pre-Renewal/SystemEN/OngoingQuests.lub -text
Translation/Renewal/SystemEN/OngoingQuests.lub -text
Translation/Renewal/SystemEN/LuaFiles514/itemInfo.lua -text
TurkuazTR/generated/hybrid/SystemEN/LuaFiles514/itemInfo.lua -text
TurkuazTR/generated/full_tr/SystemEN/LuaFiles514/itemInfo.lua -text
TurkuazTR/generated/bilingual/SystemEN/LuaFiles514/itemInfo.lua -text
